@model CatViewModel




<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5> Create a new Category </h5>
            </div>
            <div class="card-body">
                <form asp-controller="Category" asp-action="CreateCat" method="post">
                    <div class="mb-3">
                        <label class="form-label">Cat Name</label>
                        <input asp-for=Name type="text" class="form-control"/>
                    </div>
                    <div class="mb-3"> 
                        <label class="form-label">Cat Id</label>
                        <input asp-for=Id type="number" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <button type = "submit" class="btn-primary btn-primary"> Save </button>
                    </div> 

                </form>
            </div>
        </div>
    </div>
</div>