@model TODOViewModel


<form method="post" asp-action="CreateItem">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Create
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title">  </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DateCreated">Date Created</label>
            <input asp-for="DateCreated" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DeliveryDate">Delivery Date</label>
            <input asp-for="DeliveryDate" class="form-control" />
            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Done">Done</label>
            <input asp-for="Done" type="checkbox" />
            <span asp-validation-for="Done" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="TODO" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

<script>

    // Set the userId value in a hidden input field
    document.querySelector('input[name="UserId"]').value = '13'; // Replace 'yourUserId' with the actual user ID

    const socket = new WebSocket(`ws://localhost:7075/TODO/Create?userId=13`);

    // Event handler for when a message is received
    socket.onmessage = (event) => {
        // Handle the received message, e.g., display a notification
        console.log(`Received notification: ${event.data}`);
    };

    // Event handler for when the connection is closed
    socket.onclose = (event) => {
        console.error(`WebSocket closed: ${event.reason}`);
    };
</script>
