

<a class="btn btn-primary mt-1" asp-area="" asp-page="">Create new Database</a>
<a class="btn btn-primary mt-1" asp-area="" asp-page="">Delete Database</a>

<ul>
    @foreach (var databases in Model)
    {
        if (databases.Name != null)
        {
            <li>
                <a class="btn btn-primary mt-1" asp-area="" asp-action="Tables" asp-controller="Databases"
           asp-route-Name="@databases.Name">@databases.Name</a>
            </li>
        }

    }
</ul>

<form>
    <div>
        <a href="@Url.Action("GoBack", "Databases")" class="btn btn-primary">Back</a>
    </div>
</form>

<form>
    <div>
        <input asp-controller="File" asp-action="Download" type="submit" value="Download" />
    </div>
</form>
