

<table class="table">
    <thead>
        <tr>
            Column Name
        </tr>
        <tr>
            Data Type
        </tr>
        <tr>
            Allow Nulls
        </tr>
    </thead>
    <tbody>

    </tbody>


</table>



<div>
    <a class="btn btn-primary" asp-action="Create" asp-controller="HomeDB"> Create Table </a>
</div>






