@model List<TableViewModel>

<div class="text-center align-text-top">
    <h3>Tables of Database: HomeDB</h3>
</div>


<table class="table">
    <tbody>
        @foreach (var table in Model)
        {
            <tr>
                <td>@table.TableName</td>
                <td>
                    <div style="display: inline-block;">
                        <a class="btn btn-secondary" asp-action="Index" asp-route-id="@table.TableName" asp-controller="@table.TableName">Select</a>
                    </div>
                    <div style="display: inline-block;">
                        <form method="post" asp-action="Delete" asp-controller="HomeDB">
                            <input type="hidden" name="TableName" value="@table.TableName" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="form-group">
    <a class="btn btn-primary" asp-action="Create" asp-controller="HomeDB">Create new Table</a>
    <a class="btn btn-primary" id="submitBtn" asp-action="BackupDB" asp-controller="HomeDB"> Backup Database </a>
    <form method="post" enctype="multipart/form-data" asp-controller="HomeDB" asp-action="RestoreDB">
        <label for="backupFile">Upload Backup File:</label>
        <input type="file" class="form-control-file" id="backupFile" name="backupFile">
        <button type="submit" class="btn btn-primary">Restore Database</button>
    </form>
    <a class="btn btn-primary" id="submitBtn" asp-action="CleanDB" asp-controller="HomeDB"> Clean Database </a>
    <a asp-controller="Databases" asp-action="ListOfDatabases" class="btn btn-secondary" style="width:150px">
        Back
    </a>
    <input asp-controller="File" asp-action="Download" type="submit" value="Download" class="btn btn-primary" />
</div>


