

<a class="btn btn-primary mt-1" asp-area="" asp-page="">Create new Table</a>
<a class="btn btn-primary mt-1" asp-area="" asp-page="">Delete Table</a>

<ul>
    @foreach (var tables in Model)
    {
        string modelName = "";
        if (tables.TableName != null)
        {
            if (tables.TableName == "Servers")
            {
                modelName = "Servers";
            }
            <li>
                <a class="btn btn-primary mt-1" asp-area="" asp-action="Index" asp-controller="@modelName">@tables.TableName</a>
            </li>
        }

    }
</ul>

<form>
    <div>
        <a href="@Url.Action("GoBack", "HomeDB")" class="btn btn-primary">Back</a>
    </div>
</form>

<form>
    <div>
        <input asp-controller="File" asp-action="Download" type="submit" value="Download" />
    </div>
</form>
