@model LogInViewModel


<form>
    <input type="submit" asp-action="Login" asp-controller="Acount" value="Login"/>
    <input type="submit" asp-action="Register" asp-controller="Acount" value="Register" />
</form>