
<div class="text-center bg-white">
    <p>
        Hello to my Databases Manager!
    </p>
</div>



<div class="centered-container">
    <div>
        <a href="@Url.Action("LogIn", "Account")" class="btn btn-primary">LogIn</a>
        <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register</a>
        <a href="@Url.Action("GoBack", "Account")" class="btn btn-primary">Back</a>
    </div>
</div>



<style>
    .centered-container {
        text-align: center;
    }
</style>

