@model LogInViewModel


<form>
    <input type="submit" asp-action="Login" asp-controller="Account" value="Login"/>
    <input type="submit" asp-action="Register" asp-controller="Account" value="Register" />
   

</form>