@model RegisterViewModel

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Username">
            Username:
        </label>
        <input asp-for="Username" required />
    </div>
    <div>
        <label asp-for="Password">
            Password:
        </label>
        <input asp-for="Password" required />
    </div>
    <div>
        <label asp-for="ConfirmPassword">
            ConfirmPassword:
        </label>
        <input asp-for="ConfirmPassword" required />
    </div>
    <div>
        <label asp-for="Email">
            Email:
        </label>
        <input asp-for="Email" required />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
    
</form>
<form>
    <div>
        <input asp-action="AccountView" type="submit" value="Back" />
    </div>
</form>