@model List<HomeDatabase.Models.Databases>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Database</h1>
</div>

<a class="btn btn-primary mt-1" asp-area="" asp-page="" >Create new Table</a>
<a class="btn btn-primary mt-1" asp-area="" asp-page="" >Create new Row</a>

<ul>
    @foreach(var databases in Model){

         <a class="btn btn-primary mt-1" asp-area="" asp-page="" 
                        asp-route-Name="@databases.Name"
                        asp-route-Id=""><li>@databases.Name</li></a>
         
       
    
    }
</ul>